.asset {
  margin: 1rem;
  padding: 1rem;
  background-color: #2d3748;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.asset h2 {
  font-size: 2rem;
  color: #fdfdf9;
}

.asset h3 {
  color: #fdfdf9;
  margin: 0;
  font-size: 1rem;
}